@charset "UTF-8";

/* CSS Styleveränderungen von Höchster zu Niedrigster Priorität */
/* 1.Inline-style-Elemente: - */
/* 2.ID-Selektoren: - */
/* 3. Klassenselektoren/Pseudoklassen: */

/* ---- Css für kaufen.jsp */
.haustypauswählen {
	padding: 10px;
	width: 250px;
	font-size: 125%;
	border: none;
}

.haustypauswählen span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 1.0s;
}

.haustypauswählen span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.haustypauswählen:hover span {
	padding-right: 25px;
}

.haustypauswählen:hover span:after {
	opacity: 1;
	right: 0;
}

.objekttabelle {
	width: 600px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	vertical-align: center;
}

.titel {
	color: black;
	font-weight: bold;
}

.detailbutton {
	text-align: center;
	cursor: pointer;
}

.beschreibung {
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}

.gebotfehlermeldung {
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10px;
	background: red;
	color: white;
	width: 500px;
	margin: auto;
	text-align: center;
}

.gebotakzeptiert {
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10px;
	background: green;
	color: white;
	width: 250px;
	margin: auto;
	text-align: center;
}

/* ---- Css für bieten.jsp */

.bietentabelle {
	width: 200px;
	font-family: 'Poppins', sans-serif;
}

.trennung {
	width: 100px;
}

.beschreibung {
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}
.buttonpointer{
	cursor: pointer;
}

/* --- CSS für ansicht.jsp */
.objektansicht {
	width: 600px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	vertical-align: center;
}

/* 4. Typ- / Elementselektoren: */
html, body {
	height: 100%;
}

main {
	margin-top:20px;
	margin-bottom: 50px;
}

table, th, tr, td {
	width: 600px;
	font-family: 'Poppins', sans-serif;
	vertical-align: top;
}

img {
	max-width: 300px;
	max-height: 300px;
	border-radius: 10px;
}