@charset "ISO-8859-1";

.tabelle{
	width: 280px;
	font: verdana;
	}

.zurueck{
	color: red;
	opacity: 0.7;
}

.beschreibung{
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}

.gebot{
	border-radius: 10px;
}

.bietenseite{
	background-color: #ffffff;
	border: 1px solid black;
	text-align:center;
	width:500px;
	font-family: verdana;
	max-width: 500px;
	margin:auto;
}

.center{
	max-width: 500px;
	margin: auto;
}

img{
	max-width: 300px;
	max-height: 300px;
}
