@charset "ISO-8859-1";

.nav {
  list-style-type: none;
  text-align: center;
  margin: 10;
  padding: 10;
  cursor:pointer;
  font-size: 100%;
  font-family: verdana;

}

.nav li {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}

a {
  color: black;
  padding-top: 30px;
  margin: 30px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c0c0c0;
  min-width: 200px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 7px;
}

.dropdown-content a {
  color: black;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  border-radius: 7px;
  background-color: #c0c0c0;
}

.dropdown-content a:hover{background-color: #c0c0c0}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ff8000;
}

.logoutbutton{
  background: #ff8080;
  color: #000000;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  width:95%;
  cursor: pointer;
}