@charset "ISO-8859-1";

.nav {
  list-style-type: none;
  text-align: center;
  margin: 10;
  padding: 10;
  cursor:pointer;
  font-size: 100%;
  font-family: 'Poppins',sans-serif;
  margin-top: 15px;

}

.nav li {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}

a {
  color: black;
  padding-top: 30px;
  margin: 30px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.dropbtn {
  background-color: #ff0000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:8px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c0c0c0;
  width: 100px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 7px;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:#222831;
}

.logoutbutton{
  background: #ff0000;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  width:90%;
  cursor: pointer;
}
.ansichtbutton{
  background:#222831;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  width:90%;
  cursor: pointer;
}