@charset "ISO-8859-1";

.html_hintergrund {
	background-color: grey;
}

.willkommen {
	width: 100%;
	height: 350px;
	background:url(../img/willkommen_img.jpg) 
}

.zurueck{
	padding: 10px;
	width: 110px;
	font-size: 125%;
}

nav {
	color: yellow;
	font-size: 100%;
	text-align: right;
	font-family: verdana;
}