@charset "ISO-8859-1";

.willkommen {
	width: 100%;
	height: 350px;
	background:url(../img/willkommen_img.jpg) 
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.loginfenster{
  width: 400px;
  background: #ffff80;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
  margin: auto;
}
.title{
  text-align: center;
  font-size: 30px;
  font-weight: 300px;
}
.icon{
  justify-content: center;
}
form {
  margin-top: 25px;
}
form .textfeld{
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.textfeld input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 50px;
  font-size: 15px;
}
.textfeld input:focus{
  border-color: #0080ff;
}
.textfeld .icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}

form .registrieren{
  text-align: left;
  margin-top: 25px;
}
.registrieren a{
  color: #ff0000;
}

.aregistrieren{
	margin: auto;
}

.loginbutton{
  background: #96b892;
  color: #000000;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 20px;
  width:30%;
}


