@charset "ISO-8859-1";

.hintergrund{
  background:#ffffff;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family: 'Poppins',sans-serif;
  color: white;
  
}


.ansicht {
  margin-top: 25px;
  width: 400px;
  padding: 40px;
  border-radius: 8px;
  background-color: #222831;
  box-shadow: 4px 4px 1px rgba(0,0,0,0.404);
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


table,td{
	width: 400px;
	text-align: center;
}

.textfeld input{
  height: 100%;
  width: 60%;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
}
.textfeld input:focus{
  border-color: #0080ff;
}

.registrieren{
  background: #c0c0c0;
  color: #000000;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 17px;
  width:60%;
}
.abbrechen{
  background: #ff0000;
  color: #000000;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 17px;
  width:60%;
}

.fehlerbutton{
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 25px;
	background: red;
	color: white;
	width: 250px;
	margin: auto;
	text-align: center;
}

main{
	margin-bottom: 50px;
}
footer {
	text-align: center;
	margin: auto;
	font-family: 'Poppins', sans-serif;
	flex-grow: 0;
	background-color: #26272b;
	padding: 45px 0 20px;
	font-size: 20px;
	line-height: 20px;
	color: #ffffff;
}

