@charset "UTF-8";
/* @author Simon Schrödl */

/* CSS Styleveränderungen von Höchster zu Niedrigster Priorität */
/* 1. Inline-style-Elemente: - */
/* 2. ID-Selektoren: - */
/* 3. Klassenselektoren/Pseudoklassen: */
.hintergrund {
	background: #ffffff;
	/* 	Inhalt der Webiste "zentriert" anzeigen: */
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	color: white;
}

.textfeld input {
	height: 100%;
	width: 60%;
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 15px;
}

.textfeld input:focus {
	border-color: #0080ff;
}

.registrierenfenster {
	margin-top: 25px;
	width: 400px;
	padding: 40px;
	border-radius: 8px;
	background-color: #222831;
	box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.404);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.registrieren {
	background: #c0c0c0;
	color: #000000;
	border: 1px solid black;
	border-radius: 7px;
	font-size: 17px;
	width: 60%;
	cursor: pointer;
}

.abbrechen {
	background: #ff0000;
	color: #000000;
	border: 1px solid black;
	border-radius: 7px;
	font-size: 17px;
	width: 60%;
	cursor: pointer;
}

.fehlerbutton {
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 17px;
	background: red;
	width: 150px;
	margin: auto;
	text-align: center;
	color: white;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

/* 4. Typ- / Elementselektoren: */
html, body {
	height: 100%;
}

main {
	margin-bottom: 50px;
	margin-top: 20px;
}

table, td {
	width: 400px;
	text-align: center;
}