@charset "UTF-8";

/* CSS Styleveränderungen von Höchster zu Niedrigster Priorität */
/* 1. Inline-style-Elemente: - */
/* 2. ID-Selektoren: - */
/* 3. Klassenselektoren/Pseudoklassen: */

.kopfbereich {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	flex-grow: 1;
}

.suchen {
	width: 60%;
	height: 500px;
	margin: auto;
	background: url(../img/Suchen.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.textfeld {
	margin: auto;
	height: 50px;
	width: 80%;
	position: relative; margin-top : 15px;
	margin-bottom: 30px;
	margin-top: 15px;
}

.textfeld input {
	height: 100%;
	width: 92%;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 50px;
	font-size: 15px;
}

.textfeld .icon {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	color: grey;
}

.suchenbutton {
	background: #ff0000;
	color: #ffffff;
	border-radius: 7px;
	border: none;
	font-size: 17px;
	width: 15%;
	cursor: pointer;
}

.infotext {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.trennung {
	width: 50px;
	background-color: red;
	padding: 1.5px;
}

/* 4. Typ- / Elementselektoren: */

html, body {
	height: 100%;
}

section {
	margin-top: 50px;
	margin-bottom: 50px;
}

table, tr {
	text-align: center;
	width: 80%;
}

h1 {
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: grey;
}

h2 {
	text-align: center;
	font-size: 150%;
	font-family: 'Poppins', sans-serif;
}

h3 {
	font-size: 200%;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}