@charset "ISO-8859-1";

.willkommen {
	width: 100%;
	height: 350px;
	background:url(../img/willkommen_img.jpg) 
}

.html_hintergrund {
	background-color: light-grey;
}

h2{
	text-align: center;
	font-size: 100%;
	color: grey;
	font-family: 'Poppins',sans-serif;
} 

h1{
	font-size: 150%;
	font-family: 'Poppins',sans-serif;
	text-align: center;
}
.infotext{
	text-align: center;
	font-family: 'Poppins',sans-serif;
}

.trennung{
	width:50px;
	background-color: red;
	padding: 1.5px;
}