@charset "ISO-8859-1";

.hintergrund{
	width:100%;
	
}

nav {
	color: yellow;
	font-size: 100%;
	text-align: right;
	font-family: verdana;
}

.zurueck{
	padding: 10px;
	width: 110px;
	font-size: 125%;
}

h2 {
	font-family: verdana;
	font-size: 110%;
	text-align: center;
}

.allgemein {
	width: 100%;
	height: 350px;
	background: url(../img/team_img.jpg)
}

.infotext {
	text-align: center;
	font-family: verdana;
}


.trenner{
	width: 650px;
	color: black;
}

.table{
	
	font-family: verdana;
	text-align: center;
	margin: 0 auto;
	
	
}

th{
	height:50px;
	width: 150px;		
}

.th2{
	width: 50px;		
}

td{
	width: 10px;
}

.profilthomass {
	height: 150px;
	background: url(../img/profil_thomass.jpg)
}

.profilthomasp {
	background: url(../img/profil_thomasp.jpg)
}

.profilsimons {
	background: url(../img/profil_simons.jpg)
}