@charset "ISO-8859-1";


h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	text-align: center;
	color: grey;
}

.infotext {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}


.trenner{
	
	width: 50px;
	background-color: red;
	padding: 1.5px;

}

.table{
	
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin: 0 auto;
	
	
}

th{
	height:50px;
	width: 150px;		
}

.th2{
	width: 50px;		
}

td{
	width: 10px;
}

.profilthomass {
	height: 150px;
	background: url(../img/profil_thomass.jpg)
}

.profilthomasp {
	background: url(../img/profil_thomasp.jpg)
}

.profilsimons {
	background: url(../img/profil_simons.jpg)
}
main{
	margin-bottom: 50px;
}
footer {
	text-align: center;
	margin: auto;
	font-family: 'Poppins', sans-serif;
	flex-grow: 0;
	background-color: #26272b;
	padding: 45px 0 20px;
	font-size: 20px;
	line-height: 20px;
	color: #ffffff;
}