@charset "UTF-8";

/* @author Thomas Paril, Thomas Schwarzmeier */

/* CSS Styleveränderungen von Höchster zu Niedrigster Priorität */
/* 1. Inline-style-Elemente: - */
/* 2. ID-Selektoren: - */
/* 3. Klassenselektoren/Pseudoklassen: */
.hintergrund {
	background: #ffffff;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	color: white;
	display: flex;
}

.verkaufsdaten input {
	height: 100%;
	width: 60%;
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 15px;
}

.verkaufsdaten input:focus {
	border-color: #0080ff;
}

.verkaufformular {
	justify-content: center;
	margin-top: 25px;
	width: 500px;
	padding: 40px;
	border-radius: 8px;
	background-color: #222831;
	box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.404);
}

.abschicken {
	background: #c0c0c0;
	color: #000000;
	border: 1px solid black;
	border-radius: 7px;
	font-size: 17px;
	width: 60%;
	cursor: pointer;
}

.zurücksetzen {
	background: #ff0000;
	color: #000000;
	border: 1px solid black;
	border-radius: 7px;
	font-size: 17px;
	width: 60%;
	cursor: pointer;
}

.anlegenbutton {
	background: #c0c0c0;
	color: #000000;
	border: 1px solid black;
	border-radius: 7px;
	font-size: 15px;
	width: 100px;
	cursor: pointer;
}

.einloggenmeldung {
	display: flex;
	margin: auto;
	margin-top: 40px;
	font-family: 'Poppins', sans-serif;
	width: 500px;
	padding: 40px;
	border-radius: 8px;
	background-color: #222831;
	box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.404);
	color: white;
}

.login {
	color: #ff0000;
	border-radius: 7px;
	font-size: 17px;
	width: 20%;
	cursor: pointer;
}

.fehlerbutton {
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 17px;
	background: red;
	width: 150px;
	margin: auto;
	text-align: center;
	color: white;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.buttonpointer{
	cursor: pointer;
}

/* 4. Typ- / Elementselektoren: */
html, body {
	height: 100%;
}

main {
	margin-top: 20px;
	margin-bottom: 50px;
}

select {
	border: 1px solid black;
	border-radius: 7px;
	font-size: 15px;
	width: 100%;
}

table, td {
	width: 500px;
	text-align: center;
}